* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    color: #192038;
    background-color: #f9f9fa;
    font-family: 'Roboto', sans-serif;
}

.basic-btn,
.button,
.flat_basic-btn,
.flat_link-btn,
.flat_primary-btn,
.flat_warn-btn,
.header__dark .header__button,
.header__dark .header__button--log,
.header__light .header__button,
.header__light .header__button--log,
.header__transparent .header__button,
.header__transparent .header__button--log,
.icon_right-btn,
.light-btn,
.new-application__btn_two button[backbtn],
.outlined_basic-btn,
.outlined_light-btn,
.outlined_link-btn,
.outlined_primary-btn,
.outlined_warn-btn,
.primary-btn,
.raised_basic-btn,
.raised_link-btn,
.raised_primary-btn,
.raised_warn-btn,
.warn-btn,
button[disabled] {
    text-align: center;
    padding: 10px 32px;
    font-size: 0.875rem;
    border: none;
    background-color: inherit;
    text-transform: capitalize;
    font-family: Roboto-medium, sans-serif;
    letter-spacing: 1.25px;
    cursor: pointer;
    border-radius: 4px;
    color: inherit;
    outline: none;
    text-decoration: none;
}

p {
    font-weight: 600;
}

.flat_primary-btn,
.header__light .header__button--log {
    background-color: #2264d1;
    color: #fff;
}

.flat_primary-btn:hover,
.header__light .header__button--log:hover {
    background-color: #1b50a7;
    color: #fff;
    text-decoration: none;
}

[class*=' ico-'],
[class^='ico-'] {
    font-family: icomoon !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.reset-btn {
    outline: none;
    border: none;
    background: inherit;
}
