* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
    font-family: Gilroy;
    src: url('/fonts/gilroy/Gilroy-Medium.ttf');
    font-weight: 500;
  }
  
@font-face {
    font-family: Gilroy;
    src: url('/fonts/gilroy/Gilroy-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Gilroy;
    src: url('/fonts/gilroy/Gilroy-ExtraBold.ttf');
    font-weight: 800;
}

:root {
    --main-primary: #00409F;
    --main-white: #ffffff;
    --main-black: #000000;
    --main-blue: #5780E7;
    --main-secondary: #0020C9;
    --main-gray: rgba(255, 255, 255, 0.54);
    --main-whitesmoke: rgba(255, 255, 255, 0.46);
    --main-green: #00A341;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}
.section {
    padding: 0 147px;
}
.flex {
    display: flex;
}
.primary-btn {
    border-radius: 5px;
    background: var(--main-white);
    color: var(--main-secondary);
    padding: 6px 30px;
}
.primary-btn.blue {
    color: var(--main-white);
    background: var(--main-primary);
}
.left-space {
    margin-left: 29px;
}
.button {
    height: 45px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-primary);
    color: #ffffff;
}

.button.green {
    background-color: var(--main-green);
}

.button:hover {
    background-color: #004ab9;
}
.button.green:hover {
    background-color: #00bd4b;
}

.gap {
    margin: 0 10px;
}