* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
    font-family: Gilroy;
    src: url('/fonts/gilroy/Gilroy-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/CeraPro/CeraPro-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url('/fonts/gilroy/Gilroy-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Gilroy;
    src: url('/fonts/gilroy/Gilroy-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url('/fonts/gilroy/Gilroy-ExtraBold.ttf');
    font-weight: 800;
}

:root {
    --main-primary: #00409f;
    --main-white: #ffffff;
    --main-black: #000000;
    --main-blue: #5780e7;
    --main-secondary: #0020c9;
    --main-gray: rgba(255, 255, 255, 0.54);
    --main-whitesmoke: rgba(255, 255, 255, 0.46);
    --main-green: #00a341;
    --main-bluish: rgb(238, 59, 59);
}

/* .container {
    max-width: 1440px;
    margin: 0 auto;
} */

a:hover {
    text-decoration: none;
}

ul li {
    line-height: 1;
}

ol,
ul,
dl {
    margin-bottom: 0;
}

button {
    border: none;
    cursor: pointer;
}

.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-1 {
    flex: 1;
}
.primary-btn {
    border-radius: 5px;
    background: var(--main-white);
    color: var(--main-secondary);
    padding: 6px 30px;
}
.primary-btn.blue {
    color: var(--main-white);
    background: var(--main-primary);
}
.left-space {
    margin-left: 29px;
}
.button {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff1b96;
    border-radius: 5px;
    color: #ffffff;
    padding: 0 24px;
    font-weight: 500;
    /* font-size: 24px; */
    line-height: 30px;
}
.button-m {
    min-width: 223px;
}

@media screen and (max-width: 768px) {
    .button {
        width: 100%;
        height: 40px;
        font-size: 18px;
        line-height: 23px;
        min-width: auto;
    }
}

.button.mid {
    min-width: 200px;
}

.button.capitalize {
    text-transform: capitalize;
}
.button.center {
    justify-content: center;
}

.button.green {
    background-color: var(--main-bluish);
    justify-content: center;
}

.button:hover {
    background: #f23298;
}
.button.green:hover {
    background-color: #4ee2d6;
}

.gap {
    margin: 0 10px;
}
input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 1px solid transparent;
    transition: all 300ms ease-in-out;
}
input[type='checkbox']:focus {
    border: 1px solid var(--main-secondary);
}
input[type='checkbox']:checked {
    background-color: var(--main-primary);
}
input[type='checkbox']:checked:after {
    content: '';
    width: 85%;
    height: 50%;
    display: block;
    margin-left: 3%;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: translate(5%, 20%) rotate(-50deg);
}
